include:
  - project: 'devops/ci-center'
    ref: 'master'
    file: 'gitlab-ci-kidsloopr/.gitlab-ci-cdk.yml'
  - project: 'devops/ci-center'
    ref: 'master'
    file: 'gitlab-ci-kidsloopr/.gitlab-ci-api.yml'

stages:
  - deploy_swagger_cn
  - deploy_swagger_global
  - build_cdk
  - deploy_cdk
  - deploy_cdk_release

.DEPLOY_SWAGGER_JOB:
  before_script:
    - echo "Download the warehouse file and synchronize to the Swagger node"
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" > deploy.key
    - chmod 600 deploy.key
    - ssh-add deploy.key
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

DEPLOY_SWAGGER_JOB_CN:
  stage: deploy_swagger_cn
  tags:
    - kidsloop2
  extends:
    - .DEPLOY_SWAGGER_JOB
    - .DEPLOY_SWAGGER_API_CN
  rules:
    - if: '$CI_COMMIT_BRANCH == "cn/test"'
      when: on_success
  resource_group: $CI_JOB_NAME

DEPLOY_SWAGGER_JOB_Global:
  stage: deploy_swagger_global
  tags:
    - kidsloop2
  extends:
    - .DEPLOY_SWAGGER_JOB
    - .DEPLOY_SWAGGER_API_Global
  rules:
    - if: '$CI_COMMIT_BRANCH == "global/test"'
      when: on_success
  resource_group: $CI_JOB_NAME

Build_Go_Push:
  stage: build_cdk
  tags:
    - kidsloop2
  extends:
    - .TIGGER_RULES_CHECK
    - .EXECUTEBUILD_JOB
  resource_group: $CI_JOB_NAME


Deploy_To_Lambda_Push:
  extends:
    - .TIGGER_RULES_DEPLOY
    - .PACKAGEZIP_UPDATECDK
  stage: deploy_cdk
  tags:
    - kidsloop2
  resource_group: $CI_JOB_NAME

#############################################
############# BELOW FOR ops-dev #############
#############################################
.OPS_DEV_BEFORE_SCRIPT:
  before_script:
    # switch to the correct branch in niobium
    - set -e
    - niobium_dir="$HOME/devops/niobium"
    - git clone git@gitlab.badanamu.com.cn:devops/niobium.git "$niobium_dir"
    - cd "$niobium_dir"
    - git checkout $CI_COMMIT_TAG
    - cd -

OPS_DEV_BUILD:
  stage: build_cdk
  tags:
    - ops-dev
  extends:
    - .OPS_DEV_BEFORE_SCRIPT
    - .EXECUTEBUILD_JOB
  rules:
    - if: '$CI_COMMIT_TAG =~ /^(ops-dev\/).*$/ && $CI_PIPELINE_SOURCE != "trigger"'

OPS_DEV_DEPLOY:
  stage: deploy_cdk
  tags:
    - ops-dev
  extends:
    - .OPS_DEV_BEFORE_SCRIPT
    - .PACKAGEZIP_UPDATECDK
  rules:
    - if: '$CI_COMMIT_TAG =~ /^(ops-dev\/).*$/ && $CI_PIPELINE_SOURCE == "trigger"'
