.vscode/
.DS_Store
dist
debug
.run
kidsloop2
kidsloop2.exe
.idea
dist
start.ps1
key
docs
*.pem
cmd/add-assessments/add-assessments
cmd/add-assessments/add-assessments.exe
cmd/add-assessments/*.json
schema/sync/.gitkeep
cmd/intergrate_academic_profile/kidsloop_vn/kidsloop_vn
cmd/intergrate_academic_profile/kidsloop_vn/*.sql
cmd/assessment_migrate/assessment_migrate
